@media (max-width: 1250px) {
  .left-menu {
    display: none;
  }
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
  .elements {
    h2 {
      font-size: 30px;
    }
  }
  .elements-table {
    thead {
      th {
        font-size: 18px;
      }
    }
    .elements-td {
      padding: 0 5px 0;
      span:last-child {
        font-size: 13px;
      }
      .elements-title {
        font-size: 36px;
      }
    }
  }
  .elements-info {
    margin-top: 10px;
    .elements-info__table {
      width: 84.65%;
      table {
        td {
          font-size: 13px;
        }
      }
    }
    .elements-info__img {
      bottom: 5px;
    }
  }

  .cases-content {
    .cases-item {
      height: 365px;
    }
    .backstage img {
      width: 350px;
      top: -47px;
      left: 165px;
    }
    .christina img {
      width: 500px;
      left: -50px;
    }
    .total img {
      width: 465px;
      top: 12px;
      left: -55px;
    }
    .acana img {
      width: 260px;
    }
  }

  .about-top {
    .about-top__content {
      h1 {
        font-size: 120px;
      }
    }
  }

  .big-news {
    width: 611px;
  }
  .news-item__wpar .news-item {
    width: 289px;
  }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  .footer-info__wrap {
    background-position: 50% 35%;
    .footer-address {
      width: 74%;
    }
    .footer-numbers__wrap {
      width: 25%;
    }
  }

  .cases-content {
    .cases-item {
      height: 295px;
      .cases-title {
        span {
          font-size: 26px;
          padding: 0 20px;
          display: block;
        }
      }
    }
    .backstage {
      img {
        width: 275px;
        top: -28px;
        left: 120px;
      }
      &:hover {
        img {
          transform: none;
        }
      }
    }
    .christina {
      img {
        width: 395px;
      }
      &:hover {
        img {
          transform: none;
        }
      }
    }
    .total {
      img {
        width: 370px;
        top: 14px;
        left: -48px;
      }
      &:hover {
        img {
          transform: none;
        }
      }
    }
    .acana {
      img {
        width: 215px;
        top: -15px;
        left: 128px;
      }
      &:hover {
        img {
          transform: none;
        }
      }
    }
  }

  .about-info__item-wrap {
    .about-info__item {
      .about-info__title {
        font-size: 100px;
        line-height: 100px;
      }
      .about-info__subtitle {
        font-size: 30px;
      }
    }
  }

  .work-withus__wrap {
    .work-withus {
      h2 {
        width: 60%;
        font-size: 26px;
      }
      .work-withus__btn {
        width: 39%;
        .btn {
          top: 30px;
        }
      }
    }
  }

  .about-top {
    .about-top__content {
      h1 {
        font-size: 100px;
      }
    }
  }

  .big-news {
    width: auto;
    height: 275px;
    float: none;
    margin: 0;
    margin-top: 30px;
    .news-item {
      position: relative;
      top: unset;
      left: unset;
      -webkit-transform: none;
              transform: none;
    }
  }
  .news-item__wpar {
    background: none;
    .news-item {
      width: 333px;
    }
  }
  .big-news__right {
    float: none;
    margin: 0;
    margin-top: 30px;
  }
  .news__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .news-item__triple:nth-child(3n+2) {
    margin: 30px 0 0;
  }
  .news-item__triple:nth-child(3n+3) {
    margin-left: 0;
  }

  .single__more-news {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    .news-item__wpar {
      width: 47%;
      .news-item {
        width: 100%;
      }
    }
  }
  .news-item__triple:nth-child(3n+3) {
    display: none;
  }

}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  .footer-info__wrap {
    .footer-address {
      width: 66%;
    }
    .footer-numbers__wrap {
      width: 33%;
    }
  }

  .cases-content {
    .cases-item {
      height: 340px;
      width: 100%;
      .cases-title {
        span {
          font-size: 26px;
        }
      }
    }
    .backstage img {
      width: 315px;
      top: -30px;
      left: 150px;
    }
    .christina img {
      top: 15px;
      left: 20px;
      width: 450px;
    }
    .total img {
      width: 440px;
      top: 6px;
      left: -30px;
    }
    .acana img {
      width: 245px;
      top: -15px;
      left: 170px;
    }
  }

  .about-info__item-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    border: none;
    margin-top: 0;
    padding-bottom: 0;
    &:last-child {
      .about-info__item:last-child {
        border: none;
      }
    }
    .about-info__item {
      width: 100%;
      border-bottom: 2px solid #d1d1d1;
      padding-bottom: 25px;
      margin-bottom: 15px;
      .about-info__title {
        font-size: 100px;
        line-height: 100px;
      }
      .about-info__subtitle {
        font-size: 30px;
      }
    }
  }

  .team-slider__wrap {
    .swiper-controls {
      bottom: -55px;
      width: 540px;
    }
  }

  .work-withus__wrap {
    .work-withus {
      h2 {
        width: 100%;
        font-size: 26px;
        text-align: center;
      }
      .work-withus__btn {
        width: 100%;
        text-align: center;
        padding: 0;
        .btn {
          top: 5px;
          position: relative;
        }
      }
    }
  }

  .about-top {
    .about-top__content {
      h1 {
        font-size: 80px;
      }
      p {
        font-size: 22px;
        margin: 10px 0 0;
      }
    }
  }

  .news-item__wpar {
    .news-item {
      width: 245px;
      padding: 30px 15px 15px;
      height: 250px;
      p {
        font-size: 22px;
      }
    }
  }
  .big-news {
    height: 250px;
  }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .footer-info__wrap {
    .footer-address {
      width: 62%;
    }
    .footer-numbers__wrap {
      width: 37%;
    }
  }

  .cases-content {
    .cases-item {
      height: 310px;
      width: 100%;
      position: relative;
    }
    .backstage {
      &:hover {
        img {
          -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
        }
      }
      img {
        width: 280px;
        top: 51%;
        left: 55%;
        -webkit-transform: translateX(-50%) translateY(-50%);
                transform: translateX(-50%) translateY(-50%);
      }
    }
    .christina {
      img {
        width: 380px;
        top: 50%;
        left: 50%;
        -webkit-transform: translateX(-50%) translateY(-50%);
                transform: translateX(-50%) translateY(-50%);
      }
      &:hover {
        img {
          -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
        }
      }
    }
    .total {
      img {
        width: 351px;
        top: 56.9%;
        left: 50%;
        -webkit-transform: translateX(-50%) translateY(-50%);
                transform: translateX(-50%) translateY(-50%);
      }
      &:hover {
        img {
          -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
        }
      }
    }
    .acana {
      img {
        width: 210px;
        top: 51%;
        left: 53%;
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
      }
      &:hover {
        img {
          -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
        }
      }
    }
  }

  .team-slider__wrap {
    .swiper-controls {
      bottom: -45px;
      width: 320px;
    }
  }
  .team-slider__info {
    margin-top: 65px;
    .team__info-item {
      p {
        padding: 0 10px;
      }
    }
  }

  .about-top {
    .about-top__content {
      h1 {
        font-size: 75px;
      }
      p {
        font-size: 20px;
        br {
          display: none;
        }
      }
    }
  }

  .big-news {
    width: 47%;
    .news-item {
      width: 100%;
    }
  }
  .news-item__wpar {
    width: 47%;
    .news-item {
      width: 100%;
      padding: 20px 15px 15px;
    }
  }
}

@media (max-width: 480px) {
  .footer {
    height: auto;
    &:before {
      display: none;
    }
  }
  .footer-title {
    text-align: center;
  }
  .footer-info__wrap {
    padding-top: 10px;
    background: none;
    height: auto;
    .footer-address {
      width: 100%;
      text-align: center;
    }
    .footer-numbers__wrap {
      width: 100%;
      text-align: center;
      .footer-email {
        margin-top: 30px;
        margin-bottom: 40px;
      }
    }
  }

  .work-withus__wrap {
    .work-withus {
      h2 {
        font-size: 20px;
      }
    }
  }

  .about-top {
    .about-top__content {
      h1 {
        font-size: 60px;
      }
      p {
        font-size: 18px;
      }
    }
  }

  .big-news {
    width: 100%;
    height: 220px;
    .news-item {
      width: 100%;
    }
  }
  .news-item__wpar {
    width: 100%;
    .news-item {
      width: 100%;
      height: 220px;
    }
  }

  .single__more-news {
    flex-wrap: wrap;
    .news-item__wpar {
      width: 100%;
      .news-item {
        width: 100%;
      }
    }
  }
}
